.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.container__li {
  margin-right: 30px;
  color: #FFF;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.container__logo {
  margin-right: 78px;
  color: #FFF;
  font-family: "Actor", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  color: pink;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__title {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 102px; /* 121.429% */
  letter-spacing: -2px;
}
.left__prgh {
  width: 410px;
  height: 98px;
  color: #FFF;
  font-family: "Actor", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
  .container__logo {
    font-size: 24px;
  }
  .container__ul {
    font-size: 16px;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .left__title {
    font-size: 72px;
  }
  .left__prgh {
    font-size: 22px;
    width: 573.5px;
  }
  .right__img {
    width: 617px;
    height: 512px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    text-align: center;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container__logo {
    font-size: 24px;
  }
  .left__title {
    font-size: 36px;
  }
  .left__prgh {
    width: 211px;
    font-size: 12px;
    line-height: 1.5;
  }
  .right__img {
    width: 256px;
    height: 284px;
  }
}
body {
  background-color: black;
  width: 100%;
  padding: 10px auto;
  margin: auto 80px;
}